* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
.about {
    position: relative;
    background: url("../images/표지.png") no-repeat center;
}
.about-top {
    position: relative;

    display: flex;
    justify-content: center;
    gap: 20px;
}
/* 안녕하세요... */
.info-zone-only {
    text-align: left;
    margin-top: 87px;
}
.info-zone-only h3 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 25px;
}
.info-zone-only h3 strong {
    font-weight: 700;
}
.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.info-list li {
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 1px;
}
.profile-box {
    width: 255px;
    height: 305px;
    margin-top: 64px;
    background-color: #b3afaf;
    border: 2px solid #d4af37;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
/* 아이콘 */
.skills-btn-group {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.skill-item-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.skill-box {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

/* 밑에 */
.about-bt {
    width: 80%;
    margin: auto;
    max-height: 326px;
    overflow-y: auto;
    background-color: thistle;
    margin-top: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
/* introduce 타이틀 텍스트 스타일 */
.intro-title {
    font-size: 22px;
    font-weight: 700;
    color: #222;
    margin-top: 4px;
    margin-bottom: 18px;
    text-align: left;
}
.intro-title-1 {
    margin-top: 52px;
    font-size: 22px;
    font-weight: 700;
    color: #222;
    margin-bottom: 18px;
    text-align: left;
}

.intro-content {
}
.intro-content p {
    line-height: 1.7;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14.5px;
}
.intro-content p:last-child {
    margin-bottom: 0;
}
/* My Growth Log */
.logs-btn-group h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}
.logs-btn-group {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.log-item-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.log-box-link {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}
.log-box-link:hover {
    transform: translateY(-3px);
}
